
.header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.header-header{
    padding: 16px 0 16px 32px;
}

.header-profile-container{
    display: flex;
    text-align: center;
}

.header-bell{
    background-color: #54ad70;
    width: 56px;
    padding-top: 16px;
    
}

.text-pic-container{
    background-color: #5bbc79;
    width: 159px;
    display: flex;
    gap: 6px;
}

.text{
    float: left;
    color: #ffffff;
    font-size: 13px;
    padding-left: 16px;
    padding-top: 21px;
}

.pic{
    float: left;
    height: 32px;
    width: 32px;
    align-self: center;
}